// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
:root {
  --evergreen-color:#4BA541;
}


.topnav {
  display: flex; 
  background-color: white;
  width: 100%;  
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  box-shadow: lightslategray;
}

h2 {
  font-size: xx-large;
  text-align: center;
}

h5 {
  font-size: large;
  text-align: center;
}

* {
  font-family: "Soleil",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

.NotebookIndex{
  width: 300px;
  height: 100%;

}
.NotebookIndex > li{
  list-style-type: none;
  display: flex;
  align-content: space-between;
}
.NotebookIndex > li > h5 {
  text-align: left;
  padding: 0;
  margin: 0;
}

#smallButton{
  
}

.firstRowSignUp {
 
}

.splashButton{
 
}

#bigGreenButton{
  
}
img {
  width: 60%;
  height: auto;
}

.topnav-right{
  margin: 10px;
  padding: 20px; 
}

.topnav-left {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: 10px;
  padding: 20px; 
}

#imageContainer {
  display: flex;
}

.alongsideImage > div > h4 {
  text-align: center;
  font-size: x-large;
}

.siderow {
  margin: 10px;
  padding: 10px;
}

.siderow > p {
  font-size: x-large;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0; 
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal {
  width: 200px;
  height: 200px;
  margin: auto;

  background-color: lightslategray;
}
